ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.wd-margin-vertical-small {
  margin-top: 12px;
  margin-bottom: 12px;
}

.wd-margin-horizontal-medium {
  margin-left: 52px;
  margin-right: 52px;
}

.wd-margin-top-small {
  margin-top: 12px;
}



.wd-font-size-small2 {
  font-size: 15px;
}

.wd-font-size-medium {
  font-size: 20px;
}

.wd-circle {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.wd-grid-container-column {
  display: grid;
  grid-template-columns: 0fr 1fr;
}

.wd-max-width {
  max-width: 506px;
}

.wd-content-image-size {
  width: 504px;
  height: 264px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.wd-border-around-rounded {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  width: 504px;
}

.wd-padding-around {
  padding: 12px;
}

.wd-block-display {
  display: block;
}

.wd-inline-display {
  display: flex;
}

.wd-icon-size {
  width: 15px;
  height: 15px;
}

.wd-max-two-lines {
  height: 2.5em;
  max-lines: 2;
  overflow: hidden;
  font-weight: bold;
}

.wd-color-red { color: #fc032c; }